extends layout

block content
  form(name='upload' method='post' enctype='multipart/form-data' action='/upload')
    fieldset
      legend Загрузка файлов
      p
        input(type='file' id='file' name='file')
      p
        button Отправить
      div(id='log')
