extends layout

block content
  form(class="upload" name='upload' method='post' enctype='multipart/form-data' action='/upload')
    fieldset(class='upload__fieldset')
      legend(class='upload__heading') Загрузка файлов
      p
        input(type='file' class='upload__file' id='file' name='file')
      p
        input(type='submit' class='upload__submit' value='Отправить')
    div(class='upload__log' id='log')
